@use "variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

.orbitron-regular {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.orbitron-medium {
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.orbitron-semibold {
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.orbitron-bold {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.orbitron-extrabold {
  font-family: "Orbitron", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.orbitron-black {
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  font-style: normal;
}
